<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_TOKEN</key>
	<string>patMEw9OEbrMOz2pw.faefa69ac3f984382480fe54f361967f3fee4e53f99754939ae4e1d0eddac93a</string>
</dict>
</plist>
